.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 70px;
}

.intro_img{
    background-image: url(/src/assets/about/me_home.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 600px;
}

.intro_info{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.intro_name{
    font-family: 'druk';
    font-size: 30px;
    text-align: left;
}

.intro_title{
    font-family: 'druk';
    font-size: 60px;
    text-align: left;
}

.span_intro:hover{
    color: #357a5e;
    transition: .2s ease;
    cursor: pointer;
}