.HC_contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.HC_title{
    font-family: 'monument';
    font-size: 50px;

}

.HC_hover:hover{
    color: #357a5e;
    cursor: pointer;
}

.HC_card{
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid black;
    padding: 5px 20px;
    width: 900px;;
}

.HC_mailto{
    text-decoration: none;
    

    color: #357a5e;
    text-decoration: none;

    font-family: 'monument';
    font-size: 30px;
    text-align: left;
}

.icon_env{
    color: #357a5e;
    font-size: 20px;
}