.home_project{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;

    margin-top: 50px;

    margin-bottom: 100px;
}

.HP_project{
    font-family: 'monument';
    font-size: 60px;
    margin-bottom: 30px;
}

.HP_card{
    /* border: 1px solid black; */
    position: relative;

    width: 1200px;
    height: 300px;
    border: 2px solid black;
    border-radius: 25px;
    overflow: hidden;
}

.HP_img{
    background-image: url(/src/assets/homeproject/imgtest_1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 500px;
    height: 300px;
    
}

.HP_number_left{
    position: absolute;
    top: 20px;
    left: 20px;

    color: #00000040;

    font-family: 'monument';
    font-size: 40px;
}

.HP_number_right{
    position: absolute;
    bottom: 20px;
    right: 20px;

    color: #00000040;

    font-family: 'monument';
    font-size: 40px;
}

.HP_info_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-right: 20px;
}

.HP_info_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-left: 20px;
}

.HP_title{
    font-family: 'monument';
    font-size: 50px;
    width: 500px;
    margin-bottom: 20px;
}

.HP_description{
    font-family: 'monument';
    font-size: 13px;
    text-align: left;


    width: 450px;
}