.OP{
    border-top: 3px solid black;
}


.OP_title{
    color: #357a5e;
    font-family: 'druk';
    font-size: 60px;
    margin-top: 50px;
}


.OP_icon{
    display: flex;
    justify-content: space-between;
    font-family: 'monument';

    margin: 30px 50px;
}

.card_icon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.icon{
    font-size: 20px;
    border: 2px solid black;
    padding: 8px;
    border-radius: 20px;
    color: black;
}

.icon_title{
    font-size: 20px;
}

.icon_detail{
    font-size: 12px;
}

/* part_1 */

.OP_part1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-family: 'monument';

    margin: 100px;
}

.OP_secondtitle{
    font-size: 40px;
    -webkit-text-stroke: 2px #357a5e;
    color: transparent;
}

.OP_title_detail{
    margin-top: 20px;
    font-size: 20px;
}

.OP_text_p1{
    text-align: justify;
    font-size: 13px;
    margin-top: 20px;
    line-height: 20px;
    
}

/* company */

.OP_company{
    border: 3px solid black;
    border-radius: 50px;
    margin: 0 50px;
}

.company{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img_company{
    background-image: url(/src/assets/projects/porsche/logo_1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 500px;
    height: 300px;
}


.company_info{
    width: 500px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    border-left: 3px solid black;

    padding: 0 40px;
}

.title_company{
    font-family: 'monument';
    font-size: 30px;
}

.OP_text{
    font-family: 'monument';
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
}

.OP_brief_challenge{
    display: flex;
}

.OP_userflow1{
    background-image: url(/src/assets/projects/porsche/porsche_taskflows2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 1200px;
    height: 690px;

    padding: 0 50px;

    margin-top: 50px;
    border: 2px solid black;
}

.OP_text_p2{
    margin: 20px auto;
}

.OP_text_p3{
    text-align: left;
    margin-top: 30px;
    font-size: 15px;
    line-height: 20px;
}

.OP_wireframes1{
    background-image: url(/src/assets/projects/porsche/functionalanalysis.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 1250px;
    height: 600px;

    margin-top: 50px;
    border: 2px solid black;
}